@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-bg: #687fe5;
  --color-board: #ebd6fb;
  --color-cells: #feebf6;
  --color-cells-hover: #fcd8ed;
  --color-x: #fcd8cd;
  --color-o: #687fe5;
}

body {
  background-color: var(--color-bg);
  font-family: "Inter", sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: white;
  text-align: center;
}

#container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
}

.game-board {
  display: grid;
  grid-template-rows: 10fr 1fr;
  height: 500px;
  width: 400px;
  padding: 50px;
  gap: 30px;
  border-radius: 20px;
  background-color: var(--color-board);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.4) 0px -7px 0px inset;
}

.all-cells {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  border-radius: 20px;
  background-color: var(--color-cells);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.4) 0px -3px 0px inset;
  color: var(--color-o);
  font-size: 5rem;
}

.cell:hover {
  background-color: var(--color-cells-hover);
  cursor: pointer;
}

h2 {
  color: black;
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
  padding: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.buttons button {
  height: 60px;
  width: 200px;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.4) 0px -5px 0px inset;
  color: rgb(41, 41, 41);
}

.buttons button:hover {
    opacity: 0.7;
}

.start-btn {
  justify-self: start;
  background-color: var(--color-x);
}

.restart-btn {
  justify-self: end;
  background-color: #F08787;
}



